
        body {
            background-color: #f4f4f4;
            font-family: Lato;
        }

        .navbar {
            background-color: #ffffff;
            height: 89px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
        }

        .navbar>span {
            padding-top: 25px;
        }

        .quinttype_header {
            font-weight: bold;
            text-align: left;
            color: #000000;
            padding-top: 17px !important;
            float: left;
        }

        .search_header {
            float: right;
        }

        .main_content {
            padding-left: 5%;
            padding-right: 5%;
        }

        .fullwidth {
            padding-left: 0px;
            padding-right: 30px
        }

        .fullwidth>img {
            width: 100%;
            height: 100%;
        }

        .top_story_section_name {
            font-weight: bold;
            letter-spacing: 1.6px;
            padding-top: 33px;
            text-align: left;
            color: #000000;
        }

        .top_story_section_name>u {
            text-decoration: none;
            border-bottom: 3px solid #edd30d;
        }

        .top_story_title {
            padding-top: 14px;
            line-height: 1.24;
            text-align: left;
            color: #222222;
        }

        .top_story_body {
            padding-top: 19px;
            line-height: 1.56;
            text-align: left;
            color: #5c5c5c;
        }

        .top_story_author {
            padding-top: 46px;
        }

        .top_story {
            background-color: white;
            padding-left: 0px;
            margin-top: 50px;
            padding-right: 0px;
        }

        .top_story_author_title {
            text-align: left;
            color: #818181;
            vertical-align: top;
        }

        .top_story_author_time {
            float: left;
            font-weight: 300;
            text-align: left;
            color: #3d3d3d;
            padding-top: 12px;
        }

        .left_story_title {
            padding-top: 14px;
            font-family: Lato;
            font-size: 24px;
            line-height: 1.33;
            text-align: left;
            color: #222222;
        }

        .left_story_body {
            padding-top: 19px;
            font-family: Lora;
            font-size: 14px;
            line-height: 1.57;
            text-align: left;
            color: #5c5c5c;
        }

        .left_story_author {
            padding-top: 22px;
            padding-bottom: 27px;
        }

        .mid_story {
            background-color: #f4f4f4;
            ;
            padding-left: 0px;
            margin-top: 50px;
            padding-right: 30px;
        }

        .left_story_author_title {
            font-family: Lato;
            font-size: 16px;
            text-align: left;
            color: #818181;
            vertical-align: top;
        }

        .left_story_section_name {
            font-family: Lato;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1.3px;
            text-align: left;
            color: #000000;
            padding-top: 20px;
        }

        .left_story_section_name>u {
            text-decoration: none;
            border-bottom: 3px solid #f26c60;
        }

        .centre_story_section_name {
            font-family: Lato;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1.3px;
            text-align: left;
            color: #000000;
        }

        .centre_story_section_name>u {
            text-decoration: none;
            border-bottom: 3px solid #60bcf2;
        }

        .centre_story_title {
            font-family: Lato;
            font-size: 22px;
            font-weight: bold;
            line-height: 1.45;
            text-align: left;
            color: #222222;
        }

        .centre_story_author_title {
            font-family: Lato;
            font-size: 14px;
            text-align: left;
            color: #818181;
        }

        .centre_story_author {
            padding-top: 10px;
            padding-bottom: 17px;
        }

        .whiteBackground {
            background-color: white;
        }

        .newsletter {
            background-color: #2f73e4;
        }

        .newsletter_text {
            font-size: 20px;
            line-height: 1.4;
            text-align: center;
            color: #ffffff;
            padding-bottom: 30px;
        }

        .mustRead {
            font-size: 34px;
            font-weight: bold;
            letter-spacing: -0.3px;
            text-align: center;
            color: #ffffff;
            padding-top: 38px;
        }

        .mustRead_text {
            font-size: 38px;
            line-height: 1.32;
            text-align: center;
            color: #ffffff;
            margin-top: 37px;
        }

        .recentStories {
            background-color: white
        }

        .recentStories_text {
            font-family: Lato;
            font-size: 34px;
            font-weight: bold;
            text-align: left;
            color: #000000;
            padding-top: 50px;
            padding-bottom: 15px;
        }

        .recentStories_text>u {
            text-decoration: none;
            border-bottom: 3px solid #2f73e4;
        }

        .recentStories_section_name {
            font-family: Lato;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1.3px;
            text-align: left;
            color: #000000;
            padding-bottom: 10px;
        }

        .recentStories_section_name>u {
            text-decoration: none;
            border-bottom: 3px solid #f260a4;
        }

        .recentStories_title {
            font-size: 30px;
            line-height: 1.27;
            text-align: left;
            color: #222222;
        }

        .recentStories_author_title {
            font-family: Lato;
            font-size: 18px;
            text-align: left;
            color: #818181;
        }

        .recentStories_author {
            padding-top: 10px;
            padding-bottom: 17px;
        }

        .widthcheck {
            width: 17%;
        }

        hr {
            border: solid 1px #d8d8d8;
            margin-top: 0px;
        }

        .footer {
            background-color: #212121;
        }

        .footer>img {
            float: left;
            padding-left: 30px;
            padding-top: 52px;
            padding-bottom: 36px;
            background-color: #212121;
        }

        .footer>span {
            padding-top: 25px;
        }
        /* For mobiles: */

        @media (min-width: 100px) and (max-width: 600px) {
            .quinttype_header {
                font-size: 22px;
            }
            .top_story_section_name {
                font-size: 16px;
                padding-left: 30px;
            }
            .top_story_title {
                font-size: 26px;
                padding-left: 30px;
            }
            .top_story_body {
                display: none;
                padding-left: 30px;
            }
            .top_story_author_title {
                font-size: 16px;
            }
            .top_story_author_time {
                display: none;
                font-size: 14px;
            }
            .top_story {
                height: 700px;
            }
            [class*="col-m"] {
                width: 100%;
            }
            .fullwidth {
                padding-right: 0px;
            }
            .imgHeight {
                height: 430px;
            }
            .top_story_author {
                padding-top: 16px;
                padding-left: 20px;
            }
            .mid_story {
                padding-right: 0px;
            }
            .mustRead {
                font-size: 28px;
            }

            .mustRead_text {
                font-size: 22px;
            }
            .mustRead_img>img {
                width: 50px;
                height: 50px;
            }
            .mustRead_img {
                padding-top: 20%;
                padding-left: 0px;
            }
            .recentStories_title {
                font-size: 14px;
            }
            .publish {
                display: block;
            }
        }
        /* For tablets: */

        @media only screen and (min-width: 600px) and (max-width: 768px) {
            .quinttype_header {
                font-size: 22px;
            }
            .top_story_section_name {
                font-size: 12px;
            }
            .top_story_title {
                font-size: 22px;
            }
            .top_story_body {
                font-size: 12px;
            }
            .top_story_author_title {
                font-size: 12px;
            }
            .top_story_author_time {
                font-size: 10px;
                display: none;
            }
            .top_story {
                height: 420px;
            }
            .widthcheck {
                padding-left: 0px;
            }
            .top_story_author {
                padding-top: 20px;
            }
            .publish {
                display: none;
            }
            .mustRead_img {
                padding-top: 20%;
                padding-left: 0px;
            }
            .mustRead_img>img {
                width: 50px;
                height: 50px;
            }
            .mustRead {
                font-size: 28px;
            }

            .mustRead_text {
                font-size: 24px;
            }
            .recentStories_title {
                font-size: 26px;
            }
        }
        /* For desktop: */

        @media only screen and (min-width: 768px) {
            .quinttype_header {
                font-size: 32px;
            }
            .top_story_section_name {
                font-size: 18px;
            }
            .top_story_title {
                font-size: 34px;
            }
            .top_story_body {
                font-size: 18px;
            }
            .top_story_author_title {
                font-size: 18px;
            }
            .top_story_author_time {
                font-size: 14px;
            }
            .top_story {
                height: 470px;
            }
            .mustRead_img {
                padding-top: 12%;
            }
            .publish {
                display: block;
            }
        }
        /* Extra Small Devices, Phones */
        @media only screen and (min-width: 320px) and (max-width: 600px) {
            .quinttype_header {
                font-size: 22px;
            }
            .top_story_section_name {
                font-size: 16px;
                padding-left: 30px;
            }
            .top_story_title {
                font-size: 26px;
                padding-left: 30px;
            }
            .top_story_body {
                display: none;
                padding-left: 30px;
            }
            .top_story_author_title {
                font-size: 16px;
            }
            .top_story_author_time {
                display: none;
                font-size: 14px;
            }
            .top_story {
                height: 700px;
            }
            [class*="col-m"] {
                width: 100%;
            }
            .fullwidth {
                padding-right: 0px;
            }
            .imgHeight {
                height: 430px;
            }
            .top_story_author {
                padding-top: 16px;
                padding-left: 20px;
            }
            .mid_story {
                padding-right: 0px;
            }
            .mustRead {
                font-size: 28px;
            }

            .mustRead_text {
                font-size: 22px;
            }
            .mustRead_img>img {
                width: 50px;
                height: 50px;
            }
            .mustRead_img {
                padding-top: 20%;
                padding-left: 0px;
            }
            .recentStories_title {
                font-size: 14px;
            }
            .publish {
                display: block;
            }
        }
        